services:
  passport-issuer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: passport-issuer
    ports:
      - "8080:8080"
    expose:
      - 8080
    volumes:
      - ./local-secrets:/secrets
    restart: unless-stopped
    networks:
      - app_network
    depends_on:
      - redis
      - regula-face-api

  redis:
    image: 'bitnami/redis:latest'
    environment:
      # - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_PASSWORD=password
      - REDIS_PORT_NUMBER=6379
    networks:
      - app_network

  regula-face-api:
    image: regulaforensics/face-api:latest
    container_name: regula-face-api
    ports:
      - "41101:41101"
    expose:
      - 41101
    volumes:
      # Mount your Regula license file here
      - ./local-secrets/regula.license:/app/extBin/unix/regula.license
      # Mount configuration file
      - ./local-secrets/facesdk-config.yml:/app/config.yml
    networks:
      - app_network
    depends_on:
      - db-postgres
    restart: unless-stopped

  db-postgres:
    image: postgres:17
    container_name: regula-postgres
    environment:
      POSTGRES_DB: regula_db
      POSTGRES_USER: regula
      POSTGRES_PASSWORD: Regulapasswd#1
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'True'
    ports:
      - "5051:80"
    networks:
      - app_network
    depends_on:
      - db-postgres
    restart: unless-stopped

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: